# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history

# Dart tooling & pub related
.dart_tool/
.packages
.pub/
.buildlog/
pubspec.lock

# Flutter/Dart/Pub related
**/doc/api/

# IntelliJ related
.idea/
*.iml
*.ipr
*.iws

# Visual Studio Code related
.vscode/

# Xcode related
**/*.mode1v3
**/*.mode2v3
**/*.perspectivev3
**/xcuserdata/
DerivedData/
*.pbxuser
*.xccheckout
*.xcscmblueprint

# Android related
.keystore
**/build/
!**/build/web/
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/local.properties

# iOS/Flutter related
**/ios/**/*.generated.xcconfig
**/ios/**/*.xcworkspace
**/ios/**/*.xcodeproj/project.xcworkspace
**/ios/**/*.xcodeproj/xcuserdata/
**/ios/**/*.xcodeproj/*.mode1v3
**/ios/**/*.xcodeproj/*.mode2v3
**/ios/**/*.xcodeproj/*.perspectivev3
**/Flutter/flutter_export_environment.sh
**/Flutter/Generated.xcconfig
**/Flutter/App.framework
**/Flutter/Flutter.framework
**/Flutter/Flutter.podspec
**/Flutter/GeneratedPluginRegistrant.*

# Windows related
**/windows/flutter/ephemeral/

# macOS related
**/macos/Flutter/ephemeral/
**/macos/Pods/

# Linux related
**/linux/flutter/ephemeral/

# Web related
**/web/Icons
